*
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: rgb(0,0,0);
  overflow-x: hidden;
}

h1, h2, h3, h4, a {
  font-weight: 400;
  color: #ffffff;
}

h1 {
  font-family: 'Nobile';
  padding: 20px;
  margin: 0px;
  border: 0;
  height: 0px;
  font-size: 25px;
}

h2 {
  font-family: 'Rubik';
  font-weight: 500;
  padding: 20px;
  border: 0;
  margin: 0px;
  font-size: 70px;
}

h3 {
  font-family: 'Play';
  font-weight: 900;
  font-style: normal;
  padding: 25px;
  font-size: 45px;
}

h4 {
  font-family: 'Hind Siliguri';
  color: white;
  font-size: 25px;
}

h5 {
  font-family: 'Play';
  color: white;
  font-size: 22px;
  font-weight: 550;
}

h6 {
  font-family: 'Play';
  color: white;
  font-size: 35px;
  font-weight: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Play';
  color: white;
  font-size: 33px;
  font-weight: 550;
}

span {
  font-family: 'Play';
  font-size: 20px;
  font-weight: 550;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li {
  font-family: 'Play';
  font-size: 23px;
  color: white;
}

hr {
  width: 40%;
  margin-left: 30%;
  border-color: #44FFD1;
}

.bullet-point::before { 
  content: "";
  border-color: transparent #C52233;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/* FRONT */

#vanta-canvas {
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.front {
  background: black;
  top: 45px;
  bottom: 0;
  width: 100%;
  height: 100vh;
  align-content: center;
}

.animation-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* END OF FRONT */

/* HEADER */

.header  {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;  
  align-items: center;
  height: 52px;
  background: black;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all .3s ease;
}

.header.hide {
  top: -53px;
}

.top_right_header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 25px;
  padding-right: 50px; 
}

.top_left_header {
  display: flex;
}

/* END OF HEADER */

/* INTRO */

.introduction {
  padding-left: 10%;
  padding-top: 18%
}

.About-me {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: auto;
  max-width: 1000px;
}

.About-me-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About-me-content {
  padding-left: 30px;
  padding-right: 50px;
}

.skills-list {
  columns: 200px 2;
}

/* EMD OF INTRO */

/* WHERE IVE WORKED */

.Where-I-Have-Worked {
  margin: auto;
  padding-top: 25px;
  height: 650px;
  max-width: 1000px;
}

.Where-I-Have-Worked-content {
  width: 75%;
  margin: auto;
}

.Where-I-Have-Worked-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* NEW WHERE IVED WORKED */

.section {
  color: #fff;
  padding: 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.companies-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.company-list {
  list-style: none;
  padding: 0;
}

.company-item {
  background-color: #222; /* Adjust to match your theme */
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-left: 3px solid transparent; /* Adjust the color to match your theme */
}

.company-item:hover {
  background-color: #333; /* Slightly lighter to indicate hover */
}

.company-details {
  display: none;
  max-width: 800px; /* or as much as you need */
  /* Style the company details here */
}

/* END WHERE IVE WORKED */

.Featured-Projects {
  padding: 50px 0;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 25px;
}

button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #C52233;
  border-radius: 0.6em;
  color: #C52233;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
button:hover, button:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #C52233 inset;
  color: white;
}


.Featured-Projects-Card {
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #111; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  transition: transform 0.3s, box-shadow 0.3s;
}

.Featured-Projects-Card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.Featured-Projects-Card::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 28px;
  border: 1px solid rgba(197,34,51,0.2); 
  z-index: -1;
}

.description {
  width: 70%;
  display: flex;
  justify-content:space-between;
  flex-direction:column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  margin-bottom: 2rem; /* Adjust the value as needed */
}

.social-media {
  display: flex;
  justify-content: center;  
  height: 75px;
  gap: 20px;
}


@media (max-width: 768px) {
  .Featured-Projects-Card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description {
    width: 100%;
    order: 2;
  }

  .container {
    margin-top: 20px;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}